h1 {
  text-align: center;
}

.theBody {
  text-align: center;

}



p {
  text-align: center;
}


.orderedList {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  padding:1em;
  overflow:hidden;
}
